/* IVY MODE */
@font-face {
  font-family: "Ivy";
  src: url("../../public/fonts/ivy/IvyMode-Thin.woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Ivy";
  src: url("../../public/fonts/ivy/IvyMode-Light.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ivy";
  src: url("../../public/fonts/ivy/IvyMode-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ivy";
  src: url("../../public/fonts/ivy/IvyMode-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Ivy";
  src: url("../../public/fonts/ivy/IvyMode-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

/* LATO */
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Hairline.woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Thin.woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Light.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Black.woff2");
  font-weight: 900;
  font-style: normal;
}

p{
  font-family: Lato;
}
h2{
  font-family: Ivy;
}