@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #fffdf6;
  color: #2e2d2b;
}
body::-webkit-scrollbar {
  display: none;
}
.custm_review_scroller::-webkit-scrollbar {
  background: #c7c7c7;
  width: 3px;
  border-radius: 10px;
}
.custm_review_scroller::-webkit-scrollbar-thumb {
  background: #2e2d2ba9;
  border-radius: 10px;
  cursor: pointer;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-clip-img {
  background-image: url("/Images/HomePage/FooterImg.webp"); /* Correct path */
  background-size: 140vw 140vh;
  background-position: 21% -10%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* ensure clip works properly */
}

[data-aos="clip"] {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: clip-path 1s cubic-bezier(0.16, 1, 0.35, 1);
}

[data-aos="clip"].aos-animate {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
