@import "tailwindcss";

*{
  scroll-behavior: smooth ;
  user-select: none;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #FFFDF6;
  color: #2E2D2B;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-clip-img {
  background-image: url(../../public/Images/clipText_img.webp); 
  background-size: cover;
  background-position: start;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
